*{
    margin: 0px;
}
.page-wrapper{
    background-color: white;
    width: 100%;
}
.side-bar{
    background-color: white;
    width: 4.8%;
    padding: 11px 3px 0px 0px;
    display: inline;
    float: left;
}
ul.side-bar-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav-bar{
    background-color: white;
    width: 94%; 
    display: inline;
    vertical-align: top;
    float: left;
}
.yt-logo{
    margin: 0;
    padding: 0;
    display: inline-block;
}
.yt-search{
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-left: 150px;
}
.yt-mic{
    margin: 0;
    padding: 0;
    display: inline-block;
}
.yt-upload{
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-left: 75px;
}
.yt-apps{
    margin: 0;
    padding: 0;
    display: inline-block;
}
.yt-notify{
    margin: 0;
    padding: 0;
    display: inline-block;
}
.yt-account{
    margin: 0;
    padding: 0;
    display: inline-block;
}
.nav-bar-bottom{
    background-color: white;
    padding: 15px;
    border-bottom: 0.5px solid #CDCDCD;
    border-top: 0.5px solid #CDCDCD;
    
}
.all-tag{
    background-color: whitesmoke;
    margin-left: 20px;
    padding: 5px;
    width: 30px;
    border: 0.5px solid #CDCDCD;
    font-family:serif;
    display: inline-block;
    border-radius: 15px;
    text-decoration: none;
    color: white;
}
.recentlysearch-tag{
    background-color: whitesmoke;
    display: inline-block;
    border: 0.5px solid #CDCDCD;
    font-family:serif;
    border-radius: 15px;
    margin-left: 10px;
    padding: 5PX;
}
.computer-tag{
    background-color: whitesmoke;
    display: inline-block;
    border: 0.5px solid #CDCDCD;
    font-family:serif;
    border-radius: 15px;
    margin-left: 10px;
    padding: 5PX;
}
.music-tag{
    background-color: whitesmoke;
    display: inline-block;
    border: 0.5px solid #CDCDCD;
    font-family:serif;
    border-radius: 15px;
    margin-left: 10px;
    padding: 5PX;
}
.google-tag{
    background-color: whitesmoke;
    display: inline-block;
    border: 0.5px solid #CDCDCD;
    font-family:serif;
    border-radius: 15px;
    margin-left: 10px;
    padding: 5PX;
}
.anime-tag{
    background-color: whitesmoke;
    display: inline-block;
    border: 0.5px solid #CDCDCD;
    font-family:serif;
    border-radius: 15px;
    margin-left: 10px;
    padding: 5PX;
}
.content-box{
    width: 94%;
    background-color: whitesmoke;
    display: inline;
    padding-left: 5px;
    float: right;
}

.middle-box{
    width: 98%;
    background-color: whitesmoke;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;}
a:hover{
    background-color:  #CDCDCD;
    text-decoration: none;
}
a{
    color: black;
}
.video-1{
    width:24.6%;
    height: 260px;
    background-color: whitesmoke;
    display: inline-block;

}
.video-2{
    width:24.6%;
    height: 260px;
    background-color: whitesmoke;
    display: inline-block;
}
.video-3{
    width:24.6%;
    height: 260px;
    background-color: whitesmoke;
    display: inline-block;
}
.video-4{
    width:24.6%;
    height: 260px;
    background-color: whitesmoke;
    display: inline-block;
}
.video-5{
    width:24.6%;
    height: 260px;
    background-color: whitesmoke;
    display: inline-block;
}
.video-6{
    width:24.6%;
    height: 260px;
    background-color: whitesmoke;
    display: inline-block;
}
.video-7{
    width:24.6%;
    height: 260px;
    background-color: whitesmoke;
    display: inline-block;
}
.video-8{
    width:24.6%;
    height: 260px;
    background-color: whitesmoke;
    display: inline-block;
}
.video-box{
    width: 100%;
    background-color: yellow;
    height: 180px;
}


